name: "artifacts"
on: workflow_dispatch
jobs:
  generate-artifact:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/upload-artifact@v4
        with:
          name: logs
          path: ./logs.txt
          if-no-files-found: error
          retention-days: 7
